<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <h4>Merge Articles</h4>

  <%= form_tag merge_articles_path do %>
    <%= hidden_field_tag(:this_article_id, @article.id) %>
    <p>Article ID: <%= text_field_tag :merge_with, :id => :merge_with %></p>
    <%= submit_tag "Merge" %>
  <% end %>
  <hr />
